{% extends "main.html" %}

{% block content %}

<div class="row">
  {% for pin in pins %}
 {% if 'GPIO' in pins[pin].type %}
    <div class="col-md-4">
 {% if pins[pin].state == true %}
     <h2>{{ pins[pin].type }} is currently <strong>on</strong>
    <a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a>
</h2>
 {% else %}
         <h2>{{ pins[pin].type }} is currently <strong>off</strong>
         <a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a></h2>
{% endif %}
</div>
 {% endif %}
 {% endfor %}
  </div>

  {% endblock content %}
