{% extends "main.html" %}

{% block content %}

<div class="col-xs-12">

<div class="row">

<div class="col-sm-6 col-sm-offset-3">
<h4>Garden Water</h4>



 {% if 'Pump' in pins[12].type %}
    <div class="row pump">
 {% if pins[12].state == true %}
     <h2>{{ pins[12].type }} is currently <strong>on</strong>
    <a href="/12/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a>
</h2>
 {% else %}
         <h2>{{ pins[12].type }} is currently <strong>off</strong>
         <a href="/12/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a></h2>
{% endif %}
</div>
 {% endif %}



</div>
</div>

</div>
{% endblock content %}
