{% extends "main.html" %}

{% block content %}

<div class="col-xs-12">

<div class="row">
<h4>HardCoded Motor is currently going a different direction <strong><_></strong></h4>
  <div class="col-sm-6 col-sm-offset-3">
{%if pins[12].state == true %}
<a href="/12/left" class="btn btn-block btn-lg btn-default" role="button">Turn</a>
{%elif pins[16].state == true%}
<a href="/12/right" class="btn btn-block btn-lg btn-default" role="button">Turn</a>
{%else%}
<a href="/12/left" class="btn btn-block btn-sm btn-default" role="button">Turn</a>
<a href="/12/right" class="btn btn-block btn-sm btn-default" role="button">Turn</a>
{%endif%}
</div>
</div>

<div class="row">
<h4 class="col-xs-6">
stuff  Page
</h4>

</div>

</div>
{% endblock content %}
